h1 {
     text-align: center;
}

p {
     text-align: center;
}

#left-section {
     float: left;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

#right-section {
     float: right;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

#total-chocolate {
     font-size: 30pt;
}

#chocolate-elves {
     padding: 0;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     border: 2px solid black;
     width: 20vw;
}

#chocolate-elves-title {
     text-align: right;
}

#chocolate-elves-cost-text {
     text-align: right;
}

#chocolate-elves-count {
     text-align: right;
}

#chocolate-dwarves {
     padding: 0;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     border: 2px solid black;
     width: 20vw;
}

#dwarves-title {
     text-align: right;
}

#dwarves-cost-text {
     text-align: right;
}

#dwarves-count {
     text-align: right;
}

#chocolate-orges {
     padding: 0;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     border: 2px solid black;
     width: 20vw;
}

#orges-title {
     text-align: right;
}

#orges-cost-text {
     text-align: right;
}

#orges-count {
     text-align: right;
}